body{
    background: lightgray;
    font-family: Roboto, sans-serif;
    padding-bottom: 20px;
    
}


.content{
    /* background-image: url(https://dl.wdl.org/2722.png); */
    /* background-image: url(https://i.pinimg.com/736x/86/24/a9/8624a97d597e6a3c66117d25ae78f8fa--cn-tower-toronto-canada.jpg); */
    background-size: cover;
    background-color: white;
    max-width: 1000px;
    min-height: 100%;
    margin: auto;
}

.page{
    padding: 40px;
    overflow: hidden;
    /* min-width: 250px;  */
}


/* .navbar{
    position: fixed;
} */